 <li class="meetup-item">
                <article>
                    <div class="meetup-summary">
                        <div class="meetup-image">
                            <img src="{{ image }}" alt="{{ title }}">
                        </div>
                        <div class="meetup-details">
                            <h3> {{ title }}</h3>
                            <h5> {{ teacher }}</h5>
                            <h6>{{ location }}</h6>
                            <h6>Duration: {{ hours }}</h6>
                        </div>
                    </div>

                    <div class="meetup-actions">
                        <a href="{% url 'course-detail' slug %}" class="btn"> More Details </a>
                    </div>
                </article>
            </li>